<div class='container'>


	<div class='row'>

		<div class='col-md-5'>

			<div class="alert alert-success">
  				Thanks for submiitting this form! You have submitted this form <%= @count %> times now.
  			</div>

  			<h1><u>Submitted Information</u></h1>

  			<p>name: <%= @info['name'] %></p>
  			<p>location: <%= @info['location'] %></p>
  			<p>language: l<%= @info['language'] %></p>
  			<p>comment: <%= @info['comment'] %></p>

		</div>

	</div>
</div>
